 .btn-success-outline {
  border: 1px solid #33B3EC;
  border-radius:5px;
  margin-right:10px;
  color: #1eabe8;
}

.coverhome {
  background-image: url("blue-background.png");
  background-size: cover;
  position:relative;
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
  text-align:center;

  h1 {
    margin:0;
    padding-top: 220px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }
}
