.container-page {
  background-color: #f2f2f2;


  .padding-page {
    padding-top: 40px;
    padding-bottom: 80px;

  }
}

// Flip card #card = container / .front = recto / .back = verso

#card1, #card2, #card3, #card4, #card5 {
  position: relative;
  overflow: visible;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 320px;
  width: 200px;


// Front section

.front{
  border-radius: 6px;
  background-color: white;

// Features top FRONT card

     // oeil
    .card-question {
      top: 10px;
      right: 10px;
      display: inline-block;
      color: red;
      position: absolute;
      // text-shadow: 2px 1px #686868;
      cursor: pointer;
    }

     // volume on
    .audioclick {
      top: 10px;
      right: 43px;
      display: inline-block;
      color: red;
      position: absolute;
      // text-shadow: 2px 1px #686868;
      cursor: pointer;
    }

    // // bubble
    // .prononciation {
    //   top: 10px;
    //   right: 70px;
    //   display: inline-block;
    //   color: red;
    //   position: absolute;
    //   text-shadow: 2px 2px #686868;
    //   cursor: pointer;
    // }
  }

  // Ajouter un coeur pour favori ??



// Card hiragana FRONT

     .card-hiragana h1 {
        padding-top:40px;
        padding-bottom:10px;
        font-size: 150px;

    h1:hover {
      color: grey;
    }
  }

// hiragana A couleur verte
    .hiragana-a {
      color: black;

    h1:hover {
      color: $green;
      cursor: default;
    }
  }

// hiragana I couleur orange
    .hiragana-i {
      color: black;

    h1:hover {
      color: $orange;
      cursor: default;
    }
  }

  // hiragana U couleur violet
    .hiragana-u {
      color: black;

    h1:hover {
      color: $purple;
      cursor: default;
    }
  }

// hiragana E couleur rouge
    .hiragana-e {
      color: black;

    h1:hover {
      color: $red;
      cursor: default;
    }
  }

// hiragana O couleur bleu
    .hiragana-o {
      color: black;

    h1:hover {
      color: $blue;
      cursor: default;
    }
  }

// card katakana FRONT

  .card-katakana {
      color: black;
      font-size: 40px
    }

// BACK card

  .back {

    .backcard-hiragana h1 {
      padding-top:40px;
      padding-bottom:10px;
      font-size: 150px;
      color: white;
    }

// background A couleur verte
  .containerbackcards-a {
    border-radius: 6px;
    height: 320px;
    width: 200px;
    overflow: visible;
    background-color: $green;
  }

// background I couleur orange
    .containerbackcards-i {
      position: relative;
      border-radius: 6px;
      height: 320px;
      width: 200px;
      overflow: visible;
      background-color: $orange;
    }

// background U couleur violette
    .containerbackcards-u {
      position: relative;
      border-radius: 6px;
      height: 320px;
      width: 200px;
      overflow: visible;
      background-color: $purple;
    }

// background E couleur rouge
    .containerbackcards-e {
      position: relative;
      border-radius: 6px;
      height: 320px;
      width: 200px;
      overflow: visible;
      background-color: $red;
    }

// background O couleur bleue
    .containerbackcards-o {
      position: relative;
      border-radius: 6px;
      height: 320px;
      width: 200px;
      overflow: visible;
      background-color: $blue;
    }
  }
}
