<ol class="breadcrumb">
  <% if @course %>
  <li>
    <%= link_to @course.title, @course %>
  </li>
  <% if @chapter %>
  <li>
    <%= link_to @chapter.title, [@course, @chapter] %>
  </li>
  <% if @item %>
  <li>
    <%= link_to @item.title, [@course, @chapter, @item] %>
  </li>
  <% end %>
  <% end %>
  <% end %>
</ol>
