<div class="footer">
  <div class="container">
    <div class="row">

         <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-inline">
              <li class="list-title">
                <a href="#">
                  <p>Mentions légales</p>
                </a>
              </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <a href="#">
                  <p>Contactez-nous</p>
                </a>
              </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <a href="#">
                  <p>On recrute !</p>
                </a>
              </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-inline list-footer">
              <li class="list-title">
                <a href="#">
                  <i class="fa fa-facebook-official fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
          </ul>
        </div>

    </div>

        <div class="line-separator col-xs-12 col-sm-4 col-sm-offset-4"></div>
        <div class="copyright row text-center" id="footer-heart">
            <p>Fait avec <i class="fa fa-heart"></i> à Grenoble</p>
        </div>
  </div>
</div>
