<div class="container-fluid container-signup">
  <div class="row">
    <div class= "col-md-4 col-md-offset-4  form-signup">
    <div class="form-bg">

        <h4>Qu’est-ce que la synesthésie ?</h2>

        <p>La synesthésie vient du grec syn (qui signifie « avec », « union ») et aesthesis (sensation). Il s’agit d’un phénomène neurologique par lequel deux ou plusieurs sens sont associés. Par exemple, on peut associer des sons et des formes, des lettres et des couleurs… Certaines personnes voient la lettre A de la couleur verte, même lorsque celle-ci est inscrite noir sur blanc ! On peut aussi volontairement imprimer chaque lettre d’une couleur différente afin de mieux les mémoriser…</p>

      </div>
    </div>
  </div>
</div>
