<div class="container-fluid container-page">
  <div class="margin-page">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-page">
        <div class="form-bgpage">

          <h2>Contactez-nous</h2>

          <h3>Pour vous tenir informé, envoyez-nous un e-mail à :
            <%= mail_to "kim@synestasia.co " do %>
            kim@synestasia.co
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
