<div class="container-fluid container-signup text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <h2>Contactez-nous</h2>

      <h3>Pour vous tenir informé, envoyez-nous un e-mail à :
        <%= mail_to "kim@synestasia.co " do %>
          kim@synestasia.co
        <% end %>
      </h3>


    </div>
  </div>
</div>
