<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">


<!-- TEST <UL> <LI> avec 2 Card + 2 code Js indépendants -->

<ul class="list-inline text-center">
  <li>

    <div id="card1">

        <div class="front">

          <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

            <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

              <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-center'><em>a</em> comme dans attention</p>">
                <i class="fa fa-eye fa-lg"></i>
              </span>

              <div class="audioclick">
                <p>
                  <i class="fa fa-music fa-lg"></i>
                </p>
              </div>

              <!--  <div class="prononciation">
                <i class="fa fa-comment"></i>
              </div> -->

              <div class="card-hiragana hiragana-a">
                <h1><b>あ</b></h1>
              </div>

              <div class="card-katakana">
                  <p>ア</p>
              </div>

          <!-- </div> -->
        </div>

              <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-a">
                  <div class="backcard-hiragana">
                    <h1><b>あ</b></h1>
                  </div>
                </div>

              </div>

    </div>

  </li>

      <li>


        <div id="card2">

            <div class="front">

              <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

               <!--  <div class="col-sm- col-xs-4 col-md-3"> -->

                  <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>E</h4><p class='text-center'><em>é</em> comme dans karaté</p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span>

                  <div class="audioclick">
                    <p>
                      <i class="fa fa-music fa-lg"></i>
                    </p>
                  </div>

                  <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->

                  <div class="card-hiragana hiragana-e">
                    <h1><b>え</b></h1>
                  </div>


                  <div class="card-katakana">
                    <p>エ</p>
                  </div>


              <!-- </div> -->

            </div>



            <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-e">
                  <div class="backcard-hiragana">
                    <h1><b>え</b></h1>
                  </div>
                </div>

            </div>

        </div>
      </li>


      <li>

        <div id="card3">

            <div class="front">

              <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

                  <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>I</h4><p class='text-center'><em>i</em> comme dans idéogramme</p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span>

                  <div class="audioclick">
                    <p>
                      <i class="fa fa-music fa-lg"></i>
                    </p>
                  </div>

                   <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->

                  <div class="card-hiragana hiragana-i">
                    <h1><b>い</b></h1>
                  </div>


                  <div class="card-katakana">
                    <p>イ</p>
                  </div>

                      <!-- </div> -->
            </div>



            <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-i">
                  <div class="backcard-hiragana">
                    <h1><b>い</b></h1>
                  </div>
                </div>

            </div>

        </div>
      </li>


      <li>

        <div id="card4">

            <div class="front">

              <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

                  <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>O</h4><p class='text-center'><em>o</em> comme dans orange</p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span>

                  <div class="audioclick">
                    <p>
                      <i class="fa fa-music fa-lg"></i>
                    </p>
                  </div>

                  <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->

                  <div class="card-hiragana hiragana-o">
                    <h1><b>お</b></h1>
                  </div>

                  <div class="card-katakana">
                    <p>オ</p>
                  </div>

                      <!-- </div> -->
            </div>



            <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-o">
                  <div class="backcard-hiragana">
                    <h1><b>お</b></h1>
                  </div>
                </div>

            </div>

        </div>
      </li>


      <li>

        <div id="card5">

            <div class="front">

              <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

                  <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>U</h4><p class='text-center'><em>ou</em> comme dans ourson</p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span>

                  <div class="audioclick">
                    <p>
                      <i class="fa fa-music fa-lg"></i>
                    </p>
                  </div>

                  <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->

                  <div class="card-hiragana hiragana-u">
                    <h1><b>う</b></h1>
                  </div>


                  <div class="card-katakana">
                    <p>ウ</p>
                  </div>

                      <!-- </div> -->
            </div>



            <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-u">
                  <div class="backcard-hiragana">
                    <h1><b>う</b></h1>
                  </div>
                </div>

            </div>

        </div>
      </li>

</ul>

      </div>
    </div>
  </div>
</div>

