<div class="container-formpost">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-md-8 col-md-offset-2">
          <ul class="list-unstyled list-inline text-center">
            <li>
              <%= link_to hiraganas_mix_path do %>
                <div class="mix-button">
                  <h5>Mélanger les hiraganas</h5>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <ul class="list-inline text-center">
        <% @hiraganas.shuffle.each do |hiragana| %>
          <li>
            <%= render 'hiraganasmix', hiragana: hiragana %>
          </li>
        <% end %>
      </ul>
      <ul class="list-unstyled list-inline text-center">
        <li>
          <%= link_to hiraganas_mix_path do %>
            <div class="mix-button">
                <h5>Mélanger les hiraganas</h5>
            </div>
          <% end %>
        </li>
      </ul>
      <div class="text-center">
        <%= link_to hiraganas_path do %>
          <p><i class="fa fa-arrow-left"></i> Retourner sur le tableau</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
