<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">


<!-- TEST <UL> <LI> avec 2 Card + 2 code Js indépendants -->

<ul class="list-inline text-center">
<li>


        <div id="card">

                  <div class="front">

                    <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                      <!-- <div class="col-sm- col-xs-4 col-md-3"> -->


                        <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-center'>a comme dans attention</p>">
                          <i class="fa fa-eye fa-lg"></i>
                        </span>


                        <div class="prononciation">
                          <i class="fa fa-comment"></i>
                        </div>


                        <div class="audioclick">
                          <p>
                            <i class="fa fa-volume-off fa-lg"></i>
                          </p>
                        </div>


                        <div class="card-hiragana hiragana-a">
                          <h1><b>あ</b></h1>
                        </div>


                        <div class="card-katakana">
                         <p>ア</p>
                        </div>

                      <!-- </div> -->

                  </div>



                  <div class="back">

                        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-a">
                          <div class="backcard-hiragana">
                            <h1><b>あ</b></h1>
                          </div>
                        </div>

                  </div>

        </div>


</li>

<li>


        <div id="card1">

                  <div class="front">

                    <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                      <!-- <div class="col-sm- col-xs-4 col-md-3"> -->


                        <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-center'>a comme dans abricot</p>">
                          <i class="fa fa-eye fa-lg"></i>
                        </span>


                        <div class="prononciation">
                          <i class="fa fa-comment"></i>
                        </div>


                        <div class="audioclick">
                          <p>
                            <i class="fa fa-volume-off fa-lg"></i>
                          </p>
                        </div>


                        <div class="card-hiragana hiragana-e">
                          <h1><b>き</b></h1>
                        </div>


                        <div class="card-katakana">
                         <p>キ</p>
                        </div>

                      <!-- </div> -->

                  </div>



                  <div class="back">

                        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-e">
                        <div class="backcard-hiragana">
                          <h1><b>き</b></h1>
                        </div>
                        </div>

                  </div>

        </div>


</li>


</ul>

      </div>
    </div>
  </div>
</div>

