<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">

          <%=image_tag("synestasia-title.png", alt: "synestasia", class: 'synestasia-title' )%>
            <h1>L'approche synestésique </h1>
            <h1>une révolution pédagogique</h1>

        <div class="col-xs-12 col-sm-12 col-md-12">

        <%= link_to start_path do %>
          <div class="button-home-one">
            <h4>Démarrer</h4>
          </div>
        <% end %>

        <%= link_to about_path do %>
          <div class="button-home-two">
            <h4>Découvrir</h4>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-slide-one">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <h1>SYNESTASIA</h1>
          <div class="col-xs-12 col-sm-12 col-md-12">

              <!-- Searchform -->

            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-slide-two">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <h1></h1>
          <div class="col-xs-12 col-sm-12 col-md-12">

              <!-- Searchform -->

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
