<div class="container-fluid container-page">
  <div class="margin-page">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-page">
        <div class="form-bgpage text-center separcontact">
          <h1>Mentions Légales</h1>
          <ul class="list-unstyled text-center">
              <li class="contact-section"></li>
              <li class="contact-section"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


