<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid" id="start-cards">
      <div class="row">
          <h1 class="text-center">Commençons maintenant</h1>
        <ul class="list-inline text-center">
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question img-popover" data-content="<h4 class='text-center'>A</h4><p class='text-muted text-center'>a comme dans <b>a</b>ttention</p>">?</span>
                <div class="card-hiragana hiragana-a">
                  <p>あ</p>
                </div>

                 <div class="card-katakana">
                 <p>ア</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center'>E</h4><p class='text-muted text-center'>é comme dans karat<b>é</b></p>">?</span>
                <div class="card-hiragana hiragana-e">
                  <p>え</p>
                </div>
                <div class="card-katakana">
                 <p>エ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center'>I</h4><p class='text-muted text-center'>i comme dans <b>i</b>déogramme</p>">?</span>
                <div class="card-hiragana hiragana-i">
                  <p>い</p>
                </div>
                 <div class="card-katakana">
                 <p>イ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center'>O</h4><p class='text-muted text-center'>o comme dans <b>o</b>range</p>">?</span>
                <div class="card-hiragana hiragana-o">
                  <p>お</p>
                </div>
                 <div class="card-katakana">
                 <p>オ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center'>U</h4><p class='text-muted text-center'>ou comme dans <b>ou</b>rson</p>">?</span>
                <div class="card-hiragana hiragana-u">
                  <p>う</p>
                </div>
                 <div class="card-katakana">
                 <p>ウ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>







