<div class="coverstart">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="page-progress">


              <%= cl_image_tag("hiragana-o_jz1fgz.png", class: 'hiranaga')%>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
