<div class="container-page">
  <div class="padding-page">

    <div class="container-fluid" id="start-cards">
      <div class="row">

          <h1 class="text-center">Commençons maintenant</h1>

        <ul class="list-inline text-center">
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question img-popover" data-content="<h4>0</h4><p class='text-muted'>Text Here</p>">####</span>

                <div class="card-hiragana">
                  <p>お</p>
                </div>

                <p class="card-katakana">
                 #####
                </p>
                <p class="card-latin">
                  #####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>

                <div class="card-hiragana">
                  <p>お</p>
                </div>

                <p class="card-katakana">
                 #####
                </p>
                <p class="card-latin">
                  #####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>

                <div class="card-hiragana">
                  <p>お</p>
                </div>

                <p class="card-katakana">
                 #####
                </p>
                <p class="card-latin">
                  #####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>

                <div class="card-hiragana">
                  <p>お</p>
                </div>

                <p class="card-katakana">
                 #####
                </p>
                <p class="card-latin">
                  #####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question" data-toggle="tooltip" title="Some tooltip text! #################
                #####">?</span>

                <div class="card-hiragana">
                  <p>お</p>
                </div>

                <p class="card-katakana">
                 Katakana
                </p>
                <p class="card-latin">
                  transcription latine
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>







