
    <div class="containers" id="start-cards">
      <div class="row">
        <div class="coverstart">
  <div class="coverhome-filter">
          <h1 class="text-center">Commençons maintenant</h1>

        <ul class="list-inline text-center">
          <li>
            <div class="col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-post-cat">####</span>

                  <h3>####</h3>

                <p class="card-post-author">
                 #####
                </p>
                <p class="card-post-date">
                  ####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-post-cat">####</span>

                  <h3>####</h3>

                <p class="card-post-author">
                 #####
                </p>
                <p class="card-post-date">
                  ####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-post-cat">####</span>

                  <h3>####</h3>

                <p class="card-post-author">
                 #####
                </p>
                <p class="card-post-date">
                  ####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-post-cat">####</span>

                  <h3>####</h3>

                <p class="card-post-author">
                 #####
                </p>
                <p class="card-post-date">
                  ####
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-post-cat">####</span>

                  <h3>####</h3>

                <p class="card-post-author">
                 #####
                </p>
                <p class="card-post-date">
                  ####
                </p>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>







