<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid" id="start-cards">
      <div class="row">
          <h1 class="text-center">Commençons maintenant en <br/>découvrant les hiraganas</h1>
        <ul class="list-inline text-center">
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-muted text-center text-pop'><b>a</b> comme dans <b><u>a</u></b>ttention</p>">?</span>
                <div class="card-hiragana hiragana-a">
                  <p>あ</p>
                </div>

                 <div class="card-katakana">
                 <p>ア</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>E</h4><p class='text-muted text-center text-pop'><b>é</b> comme dans karat<b><u>é</u></b></p>">?</span>
                <div class="card-hiragana hiragana-e">
                  <p>え</p>
                </div>
                <div class="card-katakana">
                 <p>エ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>I</h4><p class='text-muted text-center text-pop'><b>i</b> comme dans <b><u>i</u></b>déogramme</p>">?</span>
                <div class="card-hiragana hiragana-i">
                  <p>い</p>
                </div>
                 <div class="card-katakana">
                 <p>イ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>O</h4><p class='text-muted text-center text-pop'><b>o</b> comme dans <b><u>o</u></b>range</p>">?</span>
                <div class="card-hiragana hiragana-o">
                  <p>お</p>
                </div>
                 <div class="card-katakana">
                 <p>オ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                 <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>U</h4><p class='text-muted text-center text-pop'><b>ou</b> comme dans <b><u>ou</u></b>rson</p>">?</span>
                <div class="card-hiragana hiragana-u">
                  <p>う</p>
                </div>
                 <div class="card-katakana">
                 <p>ウ</p>
                </div>
                <div class="card-latin">
                  <p></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>







