<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid" id="start-cards">
      <div class="row">
          <h1 class="text-center">Commençons maintenant</h1>
        <ul class="list-inline text-center">
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question img-popover" data-content="<h4 class='text-center'>0</h4><p class='text-muted'>Text Here</p>">####</span>
                <div class="card-hiragana">
                  <p>あ</p>
                </div>

                 <div class="card-katakana">
                 <p>ア</p>
                </div>
                <div class="card-latin">
                  <p>#####</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>
                <div class="card-hiragana">
                  <p>い</p>
                </div>
                 <div class="card-katakana">
                 <p>イ</p>
                </div>
                <div class="card-latin">
                  <p>#####</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>
                <div class="card-hiragana">
                  <p>う</p>
                </div>
                 <div class="card-katakana">
                 <p>ウ</p>
                </div>
                <div class="card-latin">
                  <p>#####</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question">####</span>
                <div class="card-hiragana">
                  <p>え</p>
                </div>
                <div class="card-katakana">
                 <p>エ</p>
                </div>
                <div class="card-latin">
                  <p>#####</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="col-sm-3 col-xs-4 col-md-3 container-cards">
              <div class="card-details">
                <span class="card-question" data-toggle="tooltip" title="Some tooltip text! #################
                #####">?</span>
                <div class="card-hiragana">
                  <p>お</p>
                </div>
                 <div class="card-katakana">
                 <p>オ</p>
                </div>
                <div class="card-latin">
                  <p>#####</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>







