<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <div class= "col-xs-12 col-sm-12 col-md-12">

          <h1 class="text-center"><span class="inset-start">Les hiraganas l'une des 3 écritures du japonais</span></h1>

          <div class="row demo-frame-first">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="text-center">C'est un syllabaire, qui permet de transcrire la langue japonaise sans ambiguïté.
            Chaque hiragana représente en effet une syllabe - qui peut être une voyelle seule (A, E, I, O ou U) ou une consonne suivie de l'une de ces 5 voyelles.
            Il y a également le "n" syllabique, ん, dont la prononciation varie en fonction de la syllabe qui le suit.</p>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="text-center">Ici, on associe respectivement les sons A, E, I, O, U aux couleurs Vert, Rouge, Rose, Bleu, Violet. La perception d'une couleur permet ainsi de découvrir de façon intuitive le son final représenté par tel ou tel caractère ou combinaison de caractères.</p>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="text-center">Les hiraganas sont traditionnellement présentés sous forme de tableau, les regroupant en colonne en fonction de leur "voyelle" commune. L'approche synesthésique, inspirée en partie de la "lecture en couleur" du pédagogue Caleb Gattegno, consiste à associer à chaque phénomène une coloration particulière.</p>
          </div>

        </div>

        <ul class="list-inline text-center">
          <li>
            <div class="card">
              <div class="front">
                  <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
                  <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><b>A</b></h4><p class='text-center'><b>a</b> comme dans <b>attention</b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>

                <div class="audioclick">
                  <p>
                    <i class="fa fa-volume-up fa-lg"></i>
                  </p>
                </div>

            <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->

                <div class="idea">
                  <i class="fa fa-lightbulb-o fa-lg"></i>
                </div>

                <div class="card-hiragana hiragana-a">
                  <h1><b>あ</b></h1>
                </div>

                <div class="card-katakana">
                  <p>ア</p>
                </div>

                <!-- </div> -->
              </div>

              <div class="back">
                  <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-a">
                    <div class="backcard-hiragana">
                      <h1><b>あ</b></h1>
                    </div>

                    <div class="card-bigletter">
                      <h4>A<h4>
                    </div>

                  </div>
                </div>
              </div>
          </li>

          <li>
            <div class="card">
              <div class="front">
                <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
                <!--  <div class="col-sm-12 col-xs-4 col-md-3"> -->
                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><b>É</b></h4><p class='text-center'><b>é</b> comme dans <b>karaté</b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>

                <div class="audioclick">
                  <p>
                    <i class="fa fa-volume-up fa-lg"></i>
                  </p>
                </div>

          <!-- <div class="prononciation">
                  <i class="fa fa-comment"></i>
                </div> -->

                <div class="idea">
                  <i class="fa fa-lightbulb-o fa-lg"></i>
                </div>

                <div class="card-hiragana hiragana-e">
                  <h1><b>え</b></h1>
                </div>

                <div class="card-katakana">
                  <p>エ</p>
                </div>
                    <!-- </div> -->
              </div>

              <div class="back">
                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-e">
                  <div class="backcard-hiragana">
                    <h1><b>え</b></h1>
                  </div>

                  <div class="card-bigletter">
                    <h4>É<h4>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="card">
              <div class="front">
              <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
              <!-- <div class="col-sm- col-xs-4 col-md-3"> -->
                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><b>I</b></h4><p class='text-center'><b>i</b> comme dans <b>idéogramme</b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>

                <div class="audioclick">
                  <p>
                    <i class="fa fa-volume-up fa-lg"></i>
                  </p>
                </div>

           <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                </div> -->

                <div class="idea">
                  <i class="fa fa-lightbulb-o fa-lg"></i>
                </div>

                <div class="card-hiragana hiragana-i">
                  <h1><b>い</b></h1>
                </div>

                <div class="card-katakana">
                  <p>イ</p>
                </div>

            <!-- </div> -->
              </div>

              <div class="back">
                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-i">
                  <div class="backcard-hiragana">
                    <h1><b>い</b></h1>
                  </div>

                  <div class="card-bigletter">
                    <h4>I</h4>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="card">
              <div class="front">
                  <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
                  <!-- <div class="col-sm- col-xs-4 col-md-3"> -->
                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><b>O</b></h4><p class='text-center'><b>o</b> comme dans <b>orange</b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>

                <div class="audioclick">
                  <p>
                    <i class="fa fa-volume-up fa-lg"></i>
                  </p>
                </div>

          <!-- <div class="prononciation">
                  <i class="fa fa-comment"></i>
                </div> -->

                <div class="idea">
                  <i class="fa fa-lightbulb-o fa-lg"></i>
                </div>

                <div class="card-hiragana hiragana-o">
                  <h1><b>お</b></h1>
                </div>

                <div class="card-katakana">
                  <p>オ</p>
                </div>
               <!-- </div> -->
              </div>

              <div class="back">
                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-o">
                  <div class="backcard-hiragana">
                    <h1><b>お</b></h1>
                  </div>

                  <div class="card-bigletter">
                    <h4>O</h4>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="card">
              <div class="front">
                <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
                <!-- <div class="col-sm- col-xs-4 col-md-3"> -->
                <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><b>U</b></h4><p class='text-center'><b>ou</b> comme dans <b>ourson</b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>
                    <div class="audioclick">
                  <p>
                    <i class="fa fa-volume-up fa-lg"></i>
                  </p>
                </div>

          <!-- <div class="prononciation">
                  <i class="fa fa-comment"></i>
                </div> -->

                <div class="idea">
                  <i class="fa fa-lightbulb-o fa-lg"></i>
                </div>

                <div class="card-hiragana hiragana-u">
                  <h1><b>う</b></h1>
                </div>

                <div class="card-katakana">
                  <p>ウ</p>
                </div>
              <!-- </div> -->
              </div>

              <div class="back">
                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-u">
                  <div class="backcard-hiragana">
                    <h1><b>う</b></h1>
                  </div>

                  <div class="card-bigletter">
                    <h4>U</h4>
                  </div>

                </div>
              </div>
            </div>
          </li>
        </ul>

        <h3 class="text-center"><span class="inset-start">Comment utiliser les flashcards</span></h3>

        <div class="row demo-frame">
          <div class= "col-xs-12 col-sm-3 col-md-3">
            <p class="text-center">Le principe est le suivant : vous faites défiler les cartes en cherchant à chaque fois à retrouver quel est le son associé au caractère présenté (ici, le hiragana en gros au centre).
          </div>
          <div class= "col-xs-12 col-sm-3 col-md-3">
            <p class="text-center">Si vous avez besoin d'un indice, survolez la carte avec la souris : la couleur vous donnera alors une indication.</p>
          </div>
          <div class= "col-xs-12 col-sm-3 col-md-3">
            <p class="text-center">Pour en savoir plus, cliquez sur les icones en haut à droite : prononciation, écriture ou prononciation, vous trouverez là toutes les informations pour décoder et reproduire le caractère.</p>
          </div>
          <div class= "col-xs-12 col-sm-3 col-md-3">
            <p class="text-center">Cliquez sur la carte pour la retourner ! Le caractère se détache alors en blanc sur le fond de couleur correspondant, favorisant sa mémorisation.</p>
          </div>
        </div>

        <ul class="list-unstyled list-inline text-center">
            <li>
              <%= link_to hiraganas_path do %>
                <div class="all-hiraganas">
                  <h5>Accéder aux hiraganas</h5>
                </div>
              <% end %>
            </li>
          </ul>

      </div>
    </div>
  </div>
</div>

