<div class="container-formpost">
  <div class="container">
    <div class="row">

      <div class="text-center">
        <h1>Tableau des hiraganas</h1>
        <%= link_to hiraganas_path do %>
          <p><i class="fa fa-heart"></i> Accéder à mes cartes à réviser</p>
        <% end %>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline text-center">
          <li>
            <%= link_to hiraganas_mix_path do %>
              <div class="mix-button">
                <h5>Mélanger les hiraganas</h5>
              </div>
            <% end %>
          </li>
        </ul>
      </div>

      <ul class="list-inline text-center">
        <% @hiraganas.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
      </ul>

      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline text-center">
          <li>
            <%= link_to hiraganas_mix_path do %>
              <div class="mix-button">
                <h5>Mélanger les hiraganas</h5>
              </div>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
