
<!-- Mettre tous les objets en place comme Course-Act -->

<!-- <ul class="list-inline text-center">
       <li> -->
          <div class="card">

                <div class="front">

                  <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->

                  <!-- <div class="col-sm- col-xs-4 col-md-3"> -->

                  <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-center'><b>a</b> comme dans attention</p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span>

                  <div class="audioclick">
                    <p>
                      <i class="fa fa-volume-up fa-lg"></i>
                    </p>
                  </div>

                  <!-- <div class="prononciation">
                        <i class="fa fa-comment"></i>
                      </div> -->

                  <div class="idea">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                  </div>

                  <div class="card-hiragana hiragana-a">
                    <h1><b>あ</b></h1>
                  </div>

                  <div class="card-katakana">
                    <p>ア</p>
                  </div>

                <!-- </div> -->
              </div>

              <div class="back">

                <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-a">
                  <div class="backcard-hiragana">
                    <h1><b>あ</b></h1>
                  </div>
                </div>

              </div>

        </div>

  </li>
</ul>

