// Breadcrumb

.breadcrumb {
 background-size: cover;
 background-color: #F2F2F2;
 padding-left: 80px;
 font-color: #000;

 .breadcrumb-style {
  font-size: 15px;
  font-weight: 400;
 }
}

p {
  font-color: black;
}

.breadfont {
  font-color: black;
}
