// Breadcrumb

.breadcrumb {
 background-size: cover;
 background-color: #F2F2F2;
 padding-left: 80px;
 font-color: #000;

 .breadcrumb-style {
  font-size: 15px;
  font-weight: 400;
  }
}

.fontbreadcrumb {
  color: #000;
    &:hover {
      color: #004882;
  }
}

