// Your footer style
.footer{
    background-color: rgba(0,0,0,0.95);
    min-height: 200px;
    padding: 30px;
    font-size: 14px;
    color: #838689;
    font-weight: 300;
    padding-bottom: 0px;


    // padding: 25px;
    // background-color: #000;
    // height: 350px;
    // width:100%;
    // font-weight: 300;
    // font-size: 14px;
    // padding-bottom: 0px;
}
.footer a {
  color:whitesmoke;
  &:hover {
    color:#c2d1d1;
  }
}

.copyright {
  color:whitesmoke;
  font-size:16px;
}

.line-separator {
    border-bottom: 1px solid white;
    padding-top: 20px;
}

#footer-heart {
    padding-top: 40px;

 i {
    color: #DB454D;
  }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.list-title p {
    font-size:16px;
    color: white;
    font-weight:400;
}

.footer a {
    color: #fff;
}
