<div class="coverhome container-fluid">
  <div class="coverhome-filter">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-progress">
          <h1>
            Page en cours de réalisation
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
