<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/breadcrumb' %>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="page-progress">

            <h2><%= @course.title %></h2>

            <ul class="list-unstyled">
              <% @course.chapters.each do |chapter| %>
              <li>
               <h3><%= link_to chapter.title, [@course, chapter] %></h3>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
