<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="page-progress">
            <h1>
              Cette page est en cours de réalisation
            </h1>

            <h2><%= @course.title %></h2>

            <ul class="list-unstyled">
              <% @course.chapters.each do |chapter| %>
              <li>
                <%= link_to chapter.title, [@course, chapter] %>
              </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
