<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/breadcrumb' %>
        <div class="col-xs-12 col-sm-6 col-md-12">
          <h1>
            <%= @chapter.title %>
          </h1>
          <ul class="list-unstyled">
            <% @chapter.items.each do |item| %>
            <li>
              <h5>
                <span class="inset-lesson">
                  <%= link_to item.title, [@course, @chapter, item], :class => "fontcolorchapter" %>
                </span>
                <small>(<%= item.actable_type %>)</small>
              </h5>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
