// Inset Chapter Show

.inset-lesson {
    font-size: 25px;
    box-shadow: inset 0 -12px 0 rgba(255, 242, 0, 1);
}

.inset-exercise {
    font-size: 25px;
    box-shadow: inset 0 -12px 0 rgba(255, 242, 0, 0.6);
}

.chapter-padding {
  padding-left: 25px;
}

.chapter-title-padding {
  padding-left: 20px;
}

h1 {
  font-size: 35px;
}

h4 {
  color:$green;
  font-weight: 300;
}

.fontchapter {
  color: #000;
      &:hover {
         color: #004882;
       }
}
