
.container-generator {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

    .form-post {
    background-color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// Flashcard on Post Show View

.cardgenerator {
  position: relative;
  overflow: visible;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 220px;
  width: 340px;

// Front section

.front{
  border-radius: 6px;
  background-color: #f2f2f2;

// Favorite as heart
   .hiragana-fav {
      position: absolute;
      left: 15px;
      bottom: 15px;
    }
  }

// Card hiragana FRONT
  .frontcard-generator h1 {
    font-size: 110px;

    h1:hover {
      color: grey;
    }
  }

  h4 {
      font-size: 25px;
    }

// hiragana A couleur verte
    .hiragana-a {
      color: black;

    h1:hover {
      color: $green;
      cursor: default;
    }
  }

  // hiragana E couleur rouge
    .hiragana-e {
      color: black;

    h1:hover {
      color: $red;
      cursor: default;
    }
  }

// hiragana I couleur orange
    .hiragana-i {
      color: black;

    h1:hover {
      color: $pink;
      cursor: default;
    }
  }

  // hiragana U couleur violet
    .hiragana-u {
      color: black;

    h1:hover {
      color: $purple;
      cursor: default;
    }
  }

// hiragana O couleur bleu
    .hiragana-o {
      color: black;

    h1:hover {
      color: $blue;
      cursor: default;
    }
  }

// BACK card

  .back {

    .backcard-generator h1 {
      font-size: 95px;
      color: black;
    }

     h4 {
      font-size: 25px;
      color: black;
      font-weight: 300;
    }

// background A couleur verte
  .containerbackcards {
    border-radius: 6px;
    height: 220px;
    width: 340px;
    overflow: visible;
    background-color: #F2F2F2;
  }

// background E couleur rouge
  .containerbackcards-e {
    position: relative;
    border-radius: 6px;
    height: 220px;
    width: 340px;
    overflow: visible;
    background-color: $red;
  }

// background I couleur orange
    .containerbackcards-i {
      position: relative;
      border-radius: 6px;
      height: 220px;
      width: 340px;
      overflow: visible;
      background-color: $pink;
    }

// background U couleur violette
    .containerbackcards-u {
      position: relative;
      border-radius: 6px;
      height: 220px;
      width: 340px;
      overflow: visible;
      background-color: $purple;
    }

// background O couleur bleue
    .containerbackcards-o {
      position: relative;
      border-radius: 6px;
      height: 220px;
      width: 340px;
      overflow: visible;
      background-color: $blue;
    }
  }
}

.trash-generator {
  position: absolute;
  top: -15px;
  left: -5px;

  img {
    width:20px;
    height:20px;
  }
}

