// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-formpost {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  .form-post {
    background-color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#show-post {
  .container-post {
    padding: 0px;

    .img-post-header {
      width: 100%;
      background-size: cover;
    }
  }

  .card {
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.4);
    border:1px solid grey;
    border-radius:3px;
    padding: 15px;
    margin: 15px auto;
    height:250px;
    position: relative;
    display:block;
    padding-bottom: 200px;
    margin-bottom: 40px;
    color:white;
    padding: 185px 10px 74px 73px;
  }

  .card h2 {
    font-size:20px;
    text-transform:uppercase;
  }

  .card-filter-home span {
    font-size:18px;
    text-decoration:none;
    color:white;
    position:absolute;
    display:block;
    z-index:1;
    padding: 22px;

  }

  .carding h1 {
    text-align: center;
    font-weight : strong;
  }

  .carding h5 {
    text-align: right;
    color: darkgray;
  }

  .contenu{
    text-align: justify;
  }

  .card-filter {
    color: #7FB8C8;
    padding: 15px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0.1, 0.1, 0.1, 0.6);
    a {
    color:white;
    }
  }

  .diving {
    background-color: white;
  }

  // .img-circle {
  // border-radius: 1%;
  // height: 180px;
  // }

  .user-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  .avatar {
  width: 40px;
  border-radius: 50%;
  }

  .container_new_post {
   background-color: #F9F9F9;
   padding-top: 18px;

    h2  {
    font-family: sans-serif;
    color:black;
     }
  }

  body {
    background-color: white;
  }

  .cover {
    width: 100%;
    height: 400px;
    position: relative;
    background-size:cover;
    background-position: center center;

    &-filter {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      //background: rgba(#000,0.1);
    }
  }


// View Article

  .article {
    background: white;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -70px;
    z-index: 10;
    position: relative;
    font-size: 18px;
    line-height: 1.6;

    &-headline {
      margin: 0;
      font-size: 40px;
      font-weight: 400;
    }

    &-meta {
      color: #777;
      margin-bottom: 25px;
      font-weight: 300;
    }

    &-excerpt {
      font-weight: bold;
      font-size:20px;
      font-family:Lato;
      padding:5px;
    }

    blockquote {
      margin: 0 20px;
    }

    .category-tab{
      position: absolute;
      top: -14px;
      left: 15px;
      background: #FE28A2;
      display: inline-block;
      padding: 0 4px;
      color: white;
    }

    .tags {
      position: absolute;
      top: -14px;
      left: 74px;
      background: #E22;
      display: inline-block;
      padding: 0 4px;
      color: white;

      p {
        display: inline-block;
        background: #E22;
        padding: 0 4px;
        color: white;
      }
    }
  }

  .intro-part {
    padding-top: 10px;

    h2 {
     text-transform:uppercase;
    }
  }

  .extra-info {
     background-color: #F2F2F2;
     margin-bottom: 40px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .buttons-view-post{
    margin-top: 40px;
    margin-bottom:30px;
  }


  .article:after {
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    height:30px;
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%,
       rgba(255,255,255, 0) 80%
    );
  }

  .picture-post {
    text-align: -webkit-center;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  h5 {
    text-align: justify;
    font-size: 20px;
    padding-top: 30px;
  }

  h6 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 300;

  }

  p {
    text-align: justify;
    font-weight: 100;
    margin: 0 0 11px;
    line-height:29px;
  }

  h1, h2, h3, h4, h5, h6, p .h1, .h2, .h3, .h4, .h5, .h6 .p {
    font-family: "Avenir", "Helvetica", "sans-serif";
    line-height: 1.1;
  }

  .card-filter-home a:hover {
    text-decoration:none;
  }
}

// Blog Index Posts

#home-articles {
  margin-bottom: 50px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 10px 20px;
    display: flex;
    align-items: center;

    &:after {
      margin: 0 20px;
      content: "";
      border-bottom: solid #000 1px;
      flex: 1;
    }
  }

  ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    li { position: relative; }
  }

  .container-cards {
    position: relative;
    padding: 20px 0;
    height: 240px;
    overflow: hidden;

    .card-fav {
      position: absolute;
      right: 40px;
      bottom: 25px;
    }

    .card-post-author {
      color: white;
      font-style: italic;
    }

    .card-post-tag {
      color:white;
      text-transform: capitalise;
      position: absolute;
      top: 10px;
      left: 79px;
      background: #E22;
      display: inline-block;
      padding: 0 4px;
      color: white;
    }

    .card-post-category {
      color:white;
      text-transform: capitalise;
      position: absolute;
      top: 10px;
      left: 26px;
      background: #FE28A2;
      display: inline-block;
      padding: 0 4px;
      color: white;
    }

    a { text-decoration: none; }

    .card-filter-home {
      position: relative;
      height: 220px;
      margin: 0 10px;
      overflow: hidden;
      border-radius: 5px;
      a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
      }
    }

    .card-details {
      position: absolute;
      padding: 20px 40px;
      top: 0;
      padding: 20px 40px;
      bottom: 0;
      right: 0;
      left: 0;

      h3 {
        text-transform: uppcase;
        color: #fff;
        font-size: 19px;
      }

      h4 {
        color: white;
        padding-top: 40px;
        font-family: "Avenir", "Helvetica", "sans-serif";
        font-size: 30px;
      }
    }
  }
}

.trash-article {
  position: absolute;
  top: 7px;
  left: 0px;

  img {
    width:20px;
    height:20px;
  }
}

